affinity: {}
frontend:
  # env:
  #   REACT_APP_API_URL: "/api"
  image:
    pullPolicy: IfNotPresent
    repository: rg.fr-par.scw.cloud/wirety/front
    tag: 2025-11-22T22-26-49Z-SNAPSHOT
  # livenessProbe:
  #   httpGet:
  #     path: /
  #     port: http
  #   initialDelaySeconds: 5
  #   periodSeconds: 10
  # readinessProbe:
  #   httpGet:
  #     path: /
  #     port: http
  #   initialDelaySeconds: 3
  #   periodSeconds: 5
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 64Mi
  service:
    port: 8080
    type: ClusterIP
fullnameOverride: ""
imagePullSecrets: []
ingress:
  className: traefik
  enabled: true
  hosts:
  - host: wirety-personal.pewty.fr
    paths:
    - backend: server
      path: /api
      pathType: Prefix
    - backend: frontend
      path: /
      pathType: Prefix
  tls: []
nameOverride: ""
nodeSelector: {}
podAnnotations: {}
podSecurityContext: {}
replicaCount: 1
securityContext: {}
server:
  env:
    AUTH_CLIENT_ID: 
    AUTH_CLIENT_SECRET: 
    AUTH_ENABLED: "true"
    AUTH_ISSUER_URL: 
    AUTH_JWKS_CACHE_TTL: "3600"
    DB_DSN: 
    DB_ENABLED: "true"
    HTTP_PORT: "8080"
    ALLOWED_ORIGIN: 
    SKIP_TLS_VERIFY: "false"
  envFrom: []
  image:
    pullPolicy: IfNotPresent
    repository: rg.fr-par.scw.cloud/wirety/server
    tag: 2025-11-22T22-34-35Z-SNAPSHOT
  livenessProbe:
    httpGet:
      path: /api/v1/health
      port: http
    initialDelaySeconds: 10
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /api/v1/health
      port: http
    initialDelaySeconds: 5
    periodSeconds: 5
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
  service:
    port: 8080
    type: ClusterIP
serviceAccount:
  annotations: {}
  create: true
  name: ""
tolerations: []
